<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Image Converter</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <div class="container">
            <h1>Image Converter</h1>
            <p class="description">
                Convert HEIC photos to JPEGs without losing their quality
            </p>
            <form
                id="uploadForm"
                action="/convert"
                method="post"
                enctype="multipart/form-data"
            >
                <div class="form-group">
                    <label for="format" class="form-label">Convert to:</label>
                    <select name="format" id="format" required>
                        <option value="jpeg">JPEG</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">Upload Image:</label>
                    <div id="drop-area">
                        <p>
                            Drag & Drop your image here or <span>browse</span>
                        </p>
                        <input
                            type="file"
                            name="image"
                            id="image"
                            accept="image/jpeg, image/jpg, image/heic, image/heif"
                            required
                        />
                    </div>
                </div>
                <button type="submit" class="btn">Convert</button>
                <div id="loading" class="loading">Converting...</div>
            </form>
            <div id="message"></div>
        </div>
        <script>
            const dropArea = document.getElementById("drop-area");
            const fileInput = document.getElementById("image");

            dropArea.addEventListener("dragover", (e) => {
                e.preventDefault();
                dropArea.classList.add("dragging");
            });

            dropArea.addEventListener("dragleave", () => {
                dropArea.classList.remove("dragging");
            });

            dropArea.addEventListener("drop", (e) => {
                e.preventDefault();
                dropArea.classList.remove("dragging");
                const files = e.dataTransfer.files;
                fileInput.files = files;
                dropArea.querySelector("p").innerText = files[0].name;
            });

            dropArea.addEventListener("click", () => {
                fileInput.click();
            });

            fileInput.addEventListener("change", () => {
                dropArea.querySelector("p").innerText = fileInput.files[0].name;
            });

            document.getElementById("uploadForm").onsubmit = function () {
                document.getElementById("loading").style.display = "block";
            };
        </script>
    </body>
</html>
