body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #240750;
  margin: 0;
  color: #57A6A1;
  background-image: url('https://www.transparenttextures.com/patterns/arabesque.png'); /* Background pattern */
}

.container {
  background: #344C64;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 90%;
  max-width: 500px;
}

h1 {
  margin-bottom: 0.5em;
  font-weight: 700;
  color: #57A6A1;
}

.description {
  margin-bottom: 1em;
  font-size: 1.1em;
  color: #57A6A1;
}

.form-group {
  margin-bottom: 1em;
}

.form-label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: 500;
  color: #57A6A1;
}

#drop-area {
  border: 2px dashed #577B8D;
  border-radius: 8px;
  padding: 2em;
  text-align: center;
  cursor: pointer;
  margin-bottom: 1em;
  transition: border-color 0.3s;
}

#drop-area.dragging {
  border-color: #57A6A1;
}

#drop-area p {
  margin: 0;
  color: #577B8D;
}

#drop-area span {
  color: #57A6A1;
  text-decoration: underline;
}

.btn {
  background-color: #57A6A1;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #577B8D;
}

.loading {
  display: none;
  margin-top: 1em;
  text-align: center;
  color: #57A6A1;
}
